* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../image/Madoka2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.box {
  width: 49%
}